*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
.logo {
    margin-top: 30px;
    height: 40px;
    padding-left: 40px;
}

/*payment-specific-styles*/
/*shipping and payment*/
.pay-container {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    padding-left: 40px;
}
.ship-and-pay {
    display: flex;
    flex-direction: column;
}
.shipping, .payment {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 0;
    border: transparent;
    width: 55vw;
    border: transparent;
    background-color: antiquewhite;
}
.payment {
    margin-top: 2%;
}
.form input {
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border: 2px solid #cccccc6a;
    margin-bottom: 30px;
    height: 40px;
    padding: 20px;
    font-family: 'Inter';
    font-size: 18px;
    background-color: transparent;
    border-radius: 30px;
}
input::placeholder {
    color: #5b5a5a;
    font-weight: 100;
}
input:hover {
    box-shadow: 0 2px 6px 0 #46340a;
}
.submit, .pay {
    height: 50px;
    font-size: 24px;
    background-color: #232323;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: 700;
}
button:hover {
    box-shadow: 0 1px 8px 0 #8800ff;
}
.title {
    font-family: 'Playfair Display';
    font-size: 32px;
    text-align: center;
}
.form, .form-pay {
    display: flex;
    flex-direction: column;
}
.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.name input {
    width: 48%;
}
input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
}
.form-pay label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-bottom: 10px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
}
.form-pay label::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #555;
    border-radius: 50%;
    margin-right: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
input[type="radio"]:checked + label {
    background-color: #545151;
    color: white;
    border-color: #494949;
}

input[type="radio"]:checked + label::before {
    background-color: white; 
    border-color: #494949;
}
input[type="radio"]:focus + label {
    outline: 2px solid #545151; 
}

input[type="radio"]:disabled + label {
    opacity: 0.6;
    cursor: not-allowed;
}
.pay {
    margin-top: 20px;
}
/*---footer---*/
.attribution {
    margin-top: 200px;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}