.picture-card {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 8%;
}

.product-information {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-title {
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Playfair Display';
}

.product-details {
    font-size: 16px; 
    font-weight: 600;
    color:darkslategray;   
}

.product-company {
    font-size: 20px;
    font-weight: 300;
    color: #767676;
}

.product-pricing {
    padding-top: 24px;
    font-weight: 600;
    color:rgb(71, 67, 16);
}

.add-to-cart {
    background-color: #fdca00b8;
    color: var(--text-color);
    border-radius: 15px;
    border: transparent;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Fondamento';
    margin-left: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-to-cart:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.add-to-cart:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.benefit {
    margin-top: 30px;
    border: 2px solid #1b6e7b;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 35px;
    padding: 10px;
    box-shadow: 10px 6px 0 0 #8a8f90;
    font-size: 24px;
    font-family: 'Roboto';
    line-height: 1.2em;
    font-weight: 300;  
    width: 62%;  
}

.benefit ul li {
    font-size: 18px;
}

.add-product {
    display: flex;
    flex-direction: row;
}
.count-product {
    padding: 0px 10px;
    font-size: 32px;
    font-family: 'Playfair Display';
    font-weight: 600;
}
.quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.decrease-quantity, .increase-quantity {
    font-size: 32px;
    font-family: 'Playfair Display';
    font-weight: 800;
    border-radius: 5px;
    padding: 0px 10px;
    color: #ffffff;
    background-color: #3b1d0bc6;
    border: transparent;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.decrease-quantity:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.decrease-quantity:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.increase-quantity:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.increase-quantity:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inactive {
    background-color: #cbcbcb;
    cursor: not-allowed;
}