* {
    box-sizing: border-box;
}
html, body {
    margin: 0 20px;
    padding: 0;
}
:root {
    --bg-color: #ffffff;
    --text-color: #222222;
    --button-color: #B48C53;
    --tile-color: #EAEAEA;

}
body {
    font-family: 'Inter';
    color: var(--text-color);
    background-color: var(--bg-color);
    padding-top: 20px;
}
.title-artifex {
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 64px;
}
.logo {
    height: 80px;
    padding-left: 40px;
}
header, .navbar {
    display: flex;
    flex-direction: row;
}
.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}
.right {
    display: flex;
    flex-direction: row;
}
.cart {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
}
.user, .cart-img {
    height: 50px;
    margin-left: 40px; 
}
.cart-counter {
    text-align: center;
    position: absolute;
    padding-left: 65px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Playfair Display';
}
.cart-img {
    padding: 0;
}
.picture-card {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.picture {
    height: 500px;
    width: auto;
    box-shadow: 0 4px 10px #333;
}

.product-information {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50vw;
}

.product-title {
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Playfair Display';
}

.product-details {
    font-size: 20px; 
    font-weight: 600;
    color:darkslategray;
}

.product-company {
    font-size: 20px;
    font-weight: 300;
    color: #767676;
}

.product-pricing {
    padding-top: 24px;
    font-weight: 600;
    color:rgb(71, 67, 16);
}

.add-to-cart {
    background-color: #fdca00b8;
    color: var(--text-color);
    border-radius: 15px;
    border: transparent;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Fondamento';
    margin-left: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 55px;
}

.add-to-cart:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.add-to-cart:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.benefit {
    margin-top: 30px;
    border: 2px solid #1b6e7b;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 35px;
    padding: 10px;
    box-shadow: 10px 6px 0 0 #8a8f90;
    font-size: 24px;
    font-family: 'Roboto';
    line-height: 1.2em;
    font-weight: 300;  
    width: 62%;  
}

.attribution {
    margin-top: 200px;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.benefit ul li {
    font-size: 18px;
}

.add-product {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    align-items: first baseline;
}
.count-product {
    padding: 0px 10px;
    font-size: 32px;
    font-family: 'Playfair Display';
    font-weight: 600;
}
.quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.decrease-quantity, .increase-quantity {
    font-size: 32px;
    font-family: 'Playfair Display';
    font-weight: 800;
    border-radius: 5px;
    padding: 0px 10px;
    color: #ffffff;
    background-color: #3b1d0bc6;
    border: transparent;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.decrease-quantity:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.decrease-quantity:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.increase-quantity:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.increase-quantity:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inactive {
    background-color: #cbcbcb;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    body, html {
        margin: 10px;
        padding: 0;
    }
    .picture-card {
        flex-direction: column;
        margin-top: 10%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding: 0 2%;
    }
    .picture {
        display: flex;
        align-items: center;
        height: 400px;
        width: auto;
        box-shadow: none;
    }
    .product-title {
        margin: 0;
        padding: 15px 0;
        font-size: 32px;
    }
    .benefit {
        font-size: 22px;
        width: 100%;  
        margin: 30px 0;
        text-align: justify;
        padding-right: 30px;
    }
    .product-image {
        display: flex;
        justify-content: center;
    }
    .product-company {
        margin-top: 20px;
    }
    .add-product {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .quantity {
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .product-information {
        max-width: 100vw;
        margin: 10%;
    }
    .add-to-cart {
        margin-left: 0;
    }
    .logo {
        height: 40px;
        padding-left: 10px;
    }    
    .user, .cart-img {
        height: 40px;
        margin-left: 20px; 
    }
    .cart-counter {
        padding-left: 38px;
    }
}